*{
    font-family: montserrat;
    font-weight: 100;
    margin: 0;
    padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /*take full height of viewport on any device*/
  overflow: hidden; /*prevents entire page from scrolling (which would scroll h & f - not desired*/  
}
header, footer {
    z-index: 10;/*keeps h & f above rest of content*/
    position: sticky;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(61, 75, 70);
    padding: 1rem;
}

header{
    justify-content: space-between;
    top: 0;    
}
footer{
    justify-content: center;
    bottom: 0;   
}
.currentDateTime{
    justify-self: flex-end;
    margin: 0.5rem;
    font-weight: 200;
    font-size: 1.25rem;
}
main{
    display: flex;
    flex: 1; /*enables main to take up the rest of the available space of body container*/
    overflow: hidden;/*main stays fixed and houses the aside/section that scroll*/
}
#landingPageMain{
    flex-direction: column;
    align-content: center;
    align-items: center;
    z-index: 1;
}
#landingPageContent{
    z-index: 1;
}
.overlayWrapper{
  position: fixed; /* Sit on top of the page content */
  display: none; 
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 12; /
}
#landingPagecurrentDateTime{
    align-self: flex-end;
}
#landingPageTagline{
    margin: 0;
}
/*sign in/log in modals*/
.modal{
    display:none;
    position: fixed;
    width: 50%;
    height: auto;
    top: 2rem;
    margin-top: 2rem;
    padding: 1rem;
    z-index: 3;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,78,0.4); /* Black w*/

}
.modalContent{
    width: 80%;
}
aside{
    flex:1;
    background-color: rgb(77, 111, 99);
    color: white;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(133, 146, 146);
    
}
section{
    flex:4;
    overflow-y: auto;
    margin: 1rem;
}
.logo{
    font-size: 3rem;
    flex: 1 1 0;
}
.nav-bar{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0.5rem;
    flex-shrink: 1;
}
.nav-bar a{
    text-decoration: none;
    color: white;   
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
}
.nav-bar a:hover{
    font-weight: 400;
    background-color: rgb(41, 46, 45);
    transition: 0.05s ease;
}

button{
    padding: 0.5rem 0.75rem;
    font-size: 1em;
    font-weight: 200;
    color: white;
    background-color: rgb(61, 75, 70);
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(133, 146, 146);
    border-radius: 0.5rem;
}
button:hover{
    background-color: rgb(35, 43, 40);
    transition: 0.3s ease;
}

/*DASHBOARD*/
#dashboardToolKit{
    padding: 0.75rem;
}

.dashboardTool{
    list-style-type: none;
    border-radius: 0.5rem;
    margin: 0.25rem;
    padding: 0.5rem;
}

.dashboardWidget{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(194, 209, 202);
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(133, 146, 146);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem; 
}
.smallerWidget{
    max-width:max-content;
    min-width: min-content;


}
#progressTable{
    min-width: 0;
}
#progressTableButtons{
    display: flex;
    gap: 0.75rem;
}

hgroup{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pageHeader{
    font-size: 3.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 1rem;
}

/* INDEX/LANDING PAGE CSS */
#landingPageContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    background-color: rgb(197, 211, 205);
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(133, 146, 146);
    color:rgb(61, 75, 70);
    padding: 3rem 4rem;
    margin: 1rem 0 1.5rem;
    border-radius: 1rem;
}

#landingPageHeader{
    font-size: 6rem;
    font-weight:100;
    margin:0;
    padding: 0;
    color: white;
    
}

.landingPageButtonDiv{
    display: flex;
    gap: 1.5rem;
    margin-top: 3rem;
}



nav-bar a, #dashboardToolKit label:hover, button:hover{
    font-weight: 200;
    background-color: rgb(41, 46, 45);
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(71, 78, 78);
    transition: 0.1s ease;
}
.subheading{
    margin: 1rem;
} 

/*Module Template*/
/* #template_container{
   width: 100%;
}
#workbookMainContainer{
    display: flex;

}
#workbookSideBar{
    background-color: teal;
}
.toolkit{
    color: white;  
}
#workbookMainContent{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
}


 .module_container{
    background-color: rgb(205, 210, 208);
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(71, 78, 78);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;  
}
.moduleHeaders{
    margin: 0.5rem 0rem;
    padding:0;
    font-weight: 400;
    color: white;
}
.moduleDetails{
    color: white;
    background-color: rgb(142, 158, 152);
    border-radius: 1rem;
    padding: 0.75rem 1rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    gap: 2rem;
}
.detail{
    display: flex;
    gap: 0.25rem;
    align-items: last baseline;
}
.moduleDetails h3{
    font-weight: 200;
}
.workspaceIntro{
    padding: 1rem;
    margin: 0.25rem 0.5rem;
    font-weight: 200;
} */
/* .notebook-list { */
  /* background: #f1eee3; soft yellowed paper */
  /* padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  box-shadow: 0.5rem 0.5rem 0.95rem rgb(133, 146, 146);
  align-self: stretch;

  /* faint horizontal lines */
  /* background-image:  */
    /* linear-gradient(to bottom, rgba(0,0,0,0.05) 1px, transparent 1px);
  background-size: 100% 1.75rem; */

  /* notebook margin line */
  /* border-left: 4px solid rgba(200, 80, 80, 0.4);
  margin: 1.5rem 0.25rem;
}

.notebook-list li {
  padding: 0.4rem 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

.stickyNotesContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
}
.stickyNotesContainer div{
    flex:1;
    max-width: 20%;
    border-style:groove;
    padding: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(71, 78, 78);
    
}
.accessibility{
    background-color: rgb(194, 225, 194);
}
.sustainability{
    background-color: rgb(198, 198, 244);
}  */
/* ol{
    list-style-position: inside;
    
} 


/*PRACTICAL EXERCISES*/
/*02-SVG*/
/* .container{
    display: flex;
    flex-wrap: wrap;
    gap: 20.5rem;
    justify-content: center;
}
.container > div{
    flex: 1;
    border: solid 0.5rem lightblue;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;   
}
.container div svg{
    
    background-color: lightblue;
} */

/* 03-TABLES*/
table{
  background-color: white;
  border-collapse: collapse;
  box-shadow: 0.5rem 0.5rem 0.95rem rgb(71, 78, 78);
  margin: 1rem;
  width: 100%;
  table-layout: fixed;

}
caption{
    margin: 1%;
    color:rgb(40, 65, 57);
    font-size: 2rem;
    font-weight: 400;
} 

td,th{
    border-style: none;
    padding: 0.25rem;
    flex-shrink: 1;
    max-width: fit-content;
}
td{
    background-color: white;   
}
th{
    background-color: grey;
    font-weight: 400;
    text-align: center;
}

    
            


