*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 20px;
    padding: 10px;
    background-color: rgb(194, 209, 202);
    border: double rgb(103, 142, 123) 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
hgroup{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
hgroup p{
    font-weight: 400;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.container > div{
    flex: 1;
    border: solid 1px lightblue;
    padding: 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;   
}
.container div svg{
    
    background-color: lightblue;
}

