/*UNIVERSAL*/
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.pageContainer{
    background-color: rgb(194, 209, 202);
    margin: 20px;
    padding: 10px;
    border: double rgb(103, 142, 123) 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;



}
hgroup{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pageHeader{
    background-color: whitesmoke;
    font-size: 4rem;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
}
hgroup p{
    font-weight: 400;
}
.keyFacts{
    text-align: left;
    margin: 35px;
}
.accessibilityNotes{
    background-color:rgb(253, 195, 195);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    margin: 1rem;
    text-align: left;
    justify-content: center;

}
.accessibilityNotes ol{
    list-style-position: inside;
    
}

/*PRACTICAL EXERCISES*/
/*02-SVG*/
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.container > div{
    flex: 1;
    border: solid 1px lightblue;
    padding: 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;   
}
.container div svg{
    
    background-color: lightblue;
}

/*03-TABLES*/
table{
    background-color: white;
    border: 2px black solid;
     margin: 15px 0px;
}

td,th{
    border: 1px black solid;
    padding: 5px;
}
td{
    background-color: white;   
}
th{
    background-color: grey;
}
.column-background{
    background-color: rgb(222, 201, 222);
}
.column-fixed-width{
    width: 40px;
}
    
            
.column-background-border{
    background-color: lightblue;
    border: solid 3px blue;
}

