/*UNIVERSAL*/
*{
    font-family: montserrat;
    font-weight: 100;
    margin: 0;
    padding: 0;
    
}
header, footer{
    background-color: rgb(61, 75, 70);
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(133, 146, 146);
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    border-radius: none;
    color: white;
}
header{
    justify-content: space-between;
}
footer{
    justify-content: center;
    color: white;
}
main{
    margin: 2rem;
}
.logo{
    font-size: 3rem;
}
.nav-bar{
    display: flex;
    gap: 1rem;
    list-style-type: none;
}
.nav-bar a{
    text-decoration: none;
    color: white;   
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    
}
.nav-bar a:hover{
    font-weight: 400;
    background-color: rgb(41, 46, 45);
    transition: 0.05s ease;
}
.pageContainer, .contentContainer{    
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(133, 146, 146);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.pageContainer{
    background-color: rgb(194, 209, 202);
    text-align: center;
}
.contentContainer{
    background-color: rgb(242, 247, 245);
    text-align: left;
}
hgroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.pageHeader{
    background-color: whitesmoke;
    font-size: 3.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 1rem;
}

/*INDEX/LANDING PAGE CSS*/
.landingPageContentContainer{
    width: 90%;
    margin: 2rem;
}
#landingPageHeader{
    font-size: 6rem;
    font-weight:100;
    margin:0;
    padding: 0;
    color: white;
    
}
#landingPageContent{
    gap: 0;
    background-color: rgb(197, 211, 205);
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(133, 146, 146);
    color:rgb(61, 75, 70);
    padding: 3rem;
    margin: 8rem 6rem;
    border-radius: 1rem;
}
.landingPageButtonDiv{
    display: flex;
    gap: 1.5rem;
    margin-top: 3rem;
}

.landingPageButtonDiv button{
    padding: 0.5rem 0.75rem;
    font-size: 1em;
    font-weight: 200;
    color: white;
    background-color: rgb(61, 75, 70);
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(133, 146, 146);
    border-radius: 1rem;
}

nav-bar a, .landingPageButtonDiv button:hover{
    font-weight: 400;
    background-color: rgb(41, 46, 45);
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(71, 78, 78);
    transition: 0.1s ease;
}
.subheading{
    margin: 1rem;
}
.keyFacts{
    text-align: left;
    margin: 2rem;
}
.accessibilityNotesContent, .sustainabilityNotesContent{
    background-color:rgb(194, 211, 204);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    text-align: left;
    justify-content: center;

}
.accessibilityNotes ol{
    list-style-position: inside;
    
}
table {
  border-collapse: collapse;
}
caption{
    margin: 1%;
    color:rgb(40, 65, 57);
}

/*PRACTICAL EXERCISES*/
/*02-SVG*/
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20.5rem;
    justify-content: center;
}
.container > div{
    flex: 1;
    border: solid 1px0.5rem lightblue;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;   
}
.container div svg{
    
    background-color: lightblue;
}

/*03-TABLES*/
table{
    background-color: white;
    border: 0.1rem black solid;
     margin: 1.5rem 0rem;
}

td,th{
    border: 0.1rem black solid;
    padding: 1rem;
}
td{
    background-color: white;   
}
th{
    background-color: grey;
}
.column-background{
    background-color: rgb(222, 201, 222);
}
.column-fixed-width{
    width: 2rem;
}
    
            
.column-background-border{
    background-color: lightblue;
    border: solid 0.5rem blue;
}

