html, body{
    height: 100%;
    font-family: montserrat;
}
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}
header, footer{
    position: sticky;
    background-color: rgb(61, 75, 70);
    
    padding: 0.25rem;
    display: flex;
    align-items: center;
    color: white;
    position: sticky;
    width: 100%;
}
header{
    justify-content: space-between;
    top: 0;    
}
footer{
    justify-content: center;
    bottom: 0;   
}
.logo{
    font-size: 3rem;
    flex: 1 1 0;
}
main{
    display: flex;   
    overflow: hidden; 
}
aside, section{
    overflow-y: auto;
}
aside{
    flex: 1;
    background-color: rgb(62, 70, 68);
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(133, 146, 146);
}
section{
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.nav-bar{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0.5rem;
    flex-shrink: 1;
}
.nav-bar a{
    text-decoration: none;
    color: white;   
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
}
.nav-bar a:hover{
    font-weight: 400;
    background-color: rgb(41, 46, 45);
    transition: 0.05s ease;
}
.pageContainer, .contentContainer{    
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(133, 146, 146);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.pageContainer{
    background-color: rgb(194, 209, 202);
    text-align: center;
}
.contentContainer{
    background-color: rgb(242, 247, 245);
    text-align: left;
}
hgroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0.5rem 2rem;
}
.pageHeader{
    font-size: 3.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 1rem;
}
.virtualWorkspaceHeader{
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
}
.virtualWorkspaceTagline{
    font-size: 1rem;
    font-weight: 100;
    margin: 0;
}
.moduleDetails{
    color: white;
    background-color: rgb(142, 158, 152);
    border: solid 0.5rem rgb(91, 102, 98);
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(133, 146, 146);
    border-radius: 1rem;
    padding: 1.5rem 0.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.moduleDetails>*{
    font-size: 1.5rem;
    margin:0;
    padding: 0.25rem;
}


/*INDEX/LANDING PAGE CSS*/
/* #landingPageContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    background-color: rgb(197, 211, 205);
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(133, 146, 146);
    color:rgb(61, 75, 70);
    padding: 3rem;
    margin: 8rem 6rem;
    border-radius: 1rem;
    flex: 1;
}
#landingPageContent p, #landingPageContent h1, #landingPageContent h2{
    flex-shrink: 2;
}
#landingPageHeader{
    font-size: 6rem;
    font-weight:100;
    margin:0;
    padding: 0;
    color: white;
    
}

.landingPageButtonDiv{
    display: flex;
    gap: 1.5rem;
    margin-top: 3rem;
    flex-shrink: 1;
}

.landingPageButtonDiv button{
    padding: 0.5rem 0.75rem;
    font-size: 1em;
    font-weight: 200;
    color: white;
    background-color: rgb(61, 75, 70);
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(133, 146, 146);
    border-radius: 1rem;
}

nav-bar a, .landingPageButtonDiv button:hover{
    font-weight: 400;
    background-color: rgb(41, 46, 45);
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(71, 78, 78);
    transition: 0.1s ease;
}
.subheading{
    margin: 1rem;
} */

/*Module Template*/
/* #template_container{
   width: 100%;
}
#workbookMainContainer{
    display: flex;

}
#workbookSideBar{
    background-color: teal;
}
.toolkit{
    color: white;  
}
#workbookMainContent{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
}


 .module_container{
    background-color: rgb(205, 210, 208);
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(71, 78, 78);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;  
}
.moduleHeaders{
    margin: 0.5rem 0rem;
    padding:0;
    font-weight: 400;
    color: white;
}

.workspaceIntro{
    padding: 1rem;
    margin: 0.25rem 0.5rem;
    font-weight: 200;
} */
/* .notebook-list { */
  /* background: #f1eee3; soft yellowed paper */
  /* padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  box-shadow: 0.5rem 0.5rem 0.95rem rgb(133, 146, 146);
  align-self: stretch;

  /* faint horizontal lines */
  /* background-image:  */
    /* linear-gradient(to bottom, rgba(0,0,0,0.05) 1px, transparent 1px);
  background-size: 100% 1.75rem; */

  /* notebook margin line */
  /* border-left: 4px solid rgba(200, 80, 80, 0.4);
  margin: 1.5rem 0.25rem;
}

.notebook-list li {
  padding: 0.4rem 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

.stickyNotesContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
}
.stickyNotesContainer div{
    flex:1;
    max-width: 20%;
    border-style:groove;
    padding: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.95rem rgb(71, 78, 78);
    
}



/*PRACTICAL EXERCISES*/
/*02-SVG*/
/* .container{
    display: flex;
    flex-wrap: wrap;
    gap: 20.5rem;
    justify-content: center;
}
.container > div{
    flex: 1;
    border: solid 0.5rem lightblue;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;   
}
.container div svg{
    
    background-color: lightblue;
} */

/*TABLES*/
            
.column-background-border{
    background-color: lightblue;
    border: solid 0.5rem blue;
} 
html {
  font-family: sans-serif;
}
table {
  border-collapse: collapse;
  border: 2px solid rgb(200 200 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin: 1rem;
}

td,
th {
  border: 1px solid rgb(190 190 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235 235 235);
}
td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250 250 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245 245 245);
}

caption {
  padding: 10px;
}

.column-border {
  border: 2px solid black;
}
.accessibility{
    background-color: rgb(194, 225, 194);
}
.sustainability{
    background-color: rgb(198, 198, 244);
}  
ol{
    list-style-position: inside;   
} 
