/*UNIVERSAL*/
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.pageContainer{
    background-color: rgb(194, 209, 202);
    margin: 20px;
    padding: 10px;
    border: double rgb(103, 142, 123) 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;



}
hgroup{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
hgroup p{
    font-weight: 400;
}
.mainFacts{
    text-align: left;
    margin: 35px;
}

/*PRACTICAL EXERCISES*/
/*02-SVG*/
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.container > div{
    flex: 1;
    border: solid 1px lightblue;
    padding: 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;   
}
.container div svg{
    
    background-color: lightblue;
}

/*03-TABLES*/
/* table{
    background-color: white;
    border: 2px black solid;
} */
table {
    margin: 15px 0px;
}
td,th{
    border: 1px black solid;
    padding: 5px;
}
td{
    background-color: white;
    
}
th{
    background-color: grey;
}

#dogTable{
    text-align: left;
}

