/*UNIVERSAL*/
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    
}
header{
    background-color: rgb(61, 75, 70);
    box-shadow: 0.5em 0.5em 0.95em rgb(133, 146, 146);
    padding: 1em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: none;
}
.logo{
    font-size: 24px;
}
.nav-bar{
    display: flex;
    gap: 1rem;
    list-style-type: none;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    
}

.pageContainer, .contentContainer{    
    margin: 3%;
    padding: 2%;
    box-shadow: 0.5em 0.5em 0.95em rgb(133, 146, 146);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.pageContainer{
    background-color: rgb(194, 209, 202);
    text-align: center;
}
.contentContainer{
    background-color: rgb(242, 247, 245);
    text-align: left;
}
hgroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.pageHeader{
    background-color: whitesmoke;
    font-size: 3.5rem;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    margin: 1rem;
}
.subheading{
    margin: 1%;
}
.keyFacts{
    text-align: left;
    margin: 35px;
}
.accessibilityNotesContent, .sustainabilityNotesContent{
    background-color:rgb(194, 211, 204);
    border: dotted 0.5rem white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    text-align: left;
    justify-content: center;

}
.accessibilityNotes ol{
    list-style-position: inside;
    
}
table {
  border-collapse: collapse;
}
caption{
    margin: 1%;
    color:rgb(40, 65, 57);
}

/*PRACTICAL EXERCISES*/
/*02-SVG*/
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.container > div{
    flex: 1;
    border: solid 1px lightblue;
    padding: 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;   
}
.container div svg{
    
    background-color: lightblue;
}

/*03-TABLES*/
table{
    background-color: white;
    border: 2px black solid;
     margin: 15px 0px;
}

td,th{
    border: 1px black solid;
    padding: 5px;
}
td{
    background-color: white;   
}
th{
    background-color: grey;
}
.column-background{
    background-color: rgb(222, 201, 222);
}
.column-fixed-width{
    width: 40px;
}
    
            
.column-background-border{
    background-color: lightblue;
    border: solid 3px blue;
}

